* {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brush-size {
    width: 200px; 
    height: 20px; 
    margin: 0 10px; 
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(2, 1, 3, 0.377); 
    border-radius: 10px; 
  }

canvas {
    background-color: #fff;
}

