* {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: #fff;
}